name: Robot Actualizador
on:
  workflow_dispatch:
  schedule:
    - cron: '0 * * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Descargar Repositorio
        uses: actions/checkout@v4
      
      - name: Instalar yt-dlp
        run: |
          sudo curl -L https://github.com/yt-dlp/yt-dlp/releases/latest/download/yt-dlp -o /usr/local/bin/yt-dlp
          sudo chmod a+rx /usr/local/bin/yt-dlp

      - name: Generar Lista IPTV
        run: |
          echo "#EXTM3U" > lista.m3u
          sort -u modelos.txt -o modelos.txt
          while IFS= read -r m || [ -n "$m" ]; do
            m=$(echo "$m" | xargs)
            [ -z "$m" ] && continue
            echo "Verificando: $m"
            L=$(yt-dlp --get-url --format "best" --quiet "https://chaturbate.com/$m/" 2>/dev/null || echo "")
            if [[ "$L" == http* ]]; then
              echo "✅ ¡Encontrada!"
              echo "#EXTINF:-1, $m" >> lista.m3u
              echo "$L" >> lista.m3u
            else
              echo "❌ Off-line"
            fi
          done < modelos.txt

      - name: Guardar Cambios en GitHub
        run: |
          git config --global user.name "bot-xch"
          git config --global user.email "bot@github.com"
          git add modelos.txt lista.m3u
          git commit -m "Lista actualizada $(date +'%Y-%m-%d %H:%M')" || exit 0
          git push
