name: Robot Actualizador
on:
  workflow_dispatch:
  schedule:
    - cron: '0 * * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      
      - name: Instalar yt-dlp
        run: |
          sudo curl -L https://github.com/yt-dlp/yt-dlp/releases/latest/download/yt-dlp -o /usr/local/bin/yt-dlp
          sudo chmod a+rx /usr/local/bin/yt-dlp

      - name: Generar Lista Modelos Mia
        run: |
          echo "#EXTM3U" > lista.m3u
          # Lista directa para evitar fallos de lectura de archivos
          for m in "Mia_greyy" "mia_milagros" "mia_reeves" "mis_eva"; do
            echo "Buscando link para: $m"
            L=$(yt-dlp --get-url --format "best" "https://chaturbate.com/$m/" 2>/dev/null || echo "")
            if [[ "$L" == http* ]]; then
              echo "✅ Link encontrado para $m"
              echo "#EXTINF:-1, $m" >> lista.m3u
              echo "$L" >> lista.m3u
            else
              echo "❌ $m no esta en directo"
            fi
          done

      - name: Guardar en el Repositorio
        run: |
          git config --global user.name "israel-bot"
          git config --global user.email "bot@github.com"
          git add lista.m3u
          git commit -m "Update modelos Mia $(date)" || exit 0
          git push
